[submodule "service-registry"]
	path = service-registry
	url = https://github.com/nus-iss-swe5001-team7/service-registry.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/nus-iss-swe5001-team7/api-gateway.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/nus-iss-swe5001-team7/user-service.git
[submodule "restaurant-service"]
	path = restaurant-service
	url = https://github.com/nus-iss-swe5001-team7/restaurant-service.git

#testing
